@charset "UTF-8";
/*Link para a fonte do site*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gravitas+One&family=Orbitron:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: black;
    color: white;
    height: 150px;
}
header > h1{
    font-family: 'Gravitas One';
    text-align: center;
}
header > p{
    font-family: 'Work Sans';
    text-align: center;
}